* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0dede;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}
header li {
  list-style: none;
}
header a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}
header a:hover {
  color: #1f1e1e;
}
header {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  height: 60%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo a {
  font-size: 1.5rem;
  font-family: "Noto Serif Makasar", serif;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}
.links a {
  cursor: pointer;
  font-size: clamp(0.5rem, 4vw, 2rem);
}
.navbar .toggle_btn {
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}
.action-btn:hover {
  -webkit-animation: rotate-90-vertical 5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: rotate-90-vertical 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.dropdown_menu {
  display: none;
  position: absolute;
  height: 0;
  top: 60px;
  width: 100%;
  left: 0;
  background: rgb(15, 15, 15);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 500px;
}

.dropdown_menu li {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dropdown_menu li:first-child {
  padding-top: 3.5rem;
}
.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  -webkit-animation: rotate-90-vertical 5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: rotate-90-vertical 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes rotate-90-vertical {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
@keyframes rotate-90-vertical {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
    color: #000;
    z-index: 6;
  }
  .dropdown_menu {
    background-color: #e0dede;
    top: 0;
    width: 100%;
    display: block;
    z-index: 2;
  }
  .dropdown_menu a {
    color: #000;
    font-size: 20px;
    font-weight: 500;
  }
}

/* body css */
/* about intro */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
  animation: animate__backInDown;
  animation-duration: 2s;
}
.about h1 {
  font-size: clamp(1rem, 4vw, 4rem);
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;
}
.about p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 400;
  text-align: left;
  word-spacing: -1px;
  line-break: break-all;
  word-break: normal;
  margin-left: 50px;
  padding: 0;
  width: 90%;
}
/* about intro */
/* what we do */
.services h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;
}
.service img {
  width: 80px;
  height: 80px;
}
.service {
  display: grid;
  place-items: center;
  padding: 2px 10px;
  text-align: justify;
  height: 250px;
  cursor: pointer;
  box-shadow: -5px -4px 3px 0px rgba(255, 255, 255, 0.425),
    5px 4px 3px 0px rgba(88, 88, 88, 0.425);
}
.services p {
  word-spacing: 1px;
  text-align: justify;
  line-break: auto;
}
.service:hover {
  box-shadow: -5px -4px 3px 0px rgba(255, 255, 255, 0.425),
    5px 4px 3px 0px rgba(88, 88, 88, 0.425), 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease-in-out;
}
.servicesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px 20px;
  place-items: center;
}
/* what we do */
/* process */
.process {
  background-color: #000;
}
.process-details h3 {
  font-size: clamp(2rem, 6vw, 4rem);
  text-align: center;
}
.process-details p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: justify;
  line-break: auto;
  word-spacing: 1px;
}
.processes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.process h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 600;
  text-align: center;
  color: #e0dede;
  margin: 0;
  padding: 0;
}
.process-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.process-step {
  position: relative;
  width: 180px;
  height: 180px;
}

.process-icon {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.process-icon img {
  max-width: 70%;
  max-height: 80%;
}
.process-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.process-icon:hover .icon-image {
  content: url("imgs/clickMe.png");
}

.process-details {
  margin-top: 50px;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  transition: opacity 0.3s ease-in-out;
  display: none;
  box-shadow: -2px -2px 3px 2px rgba(255, 255, 255, 0.425),
    2px 2px 3px 0px rgba(88, 88, 88, 0.425);
}

.process-details.active {
  display: block;
}

/* process */
/* pricing */
.pricing {
  text-align: center;
  padding: 40px 0;
  background-color: #000;
}

.pricing h1 {
  font-size: clamp(1rem, 4vw, 4rem);
  font-weight: 600;
  text-align: center;
  color: #e0dede;
  margin-bottom: 50px;
  padding: 0;
}

.pricing-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.pricing-card {
  background-color: #f5f5f5;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 2px rgba(255, 255, 255, 0.425);
  transition: all 0.3s ease;
  width: 20%;
}

.pricing-card:hover {
  transform: translateY(-15px);
}

.pricing-card h2 {
  margin-bottom: 10px;
}

.pricing-card h3 {
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.pricing-card ul li {
  margin-bottom: 10px;
}

.Pricebtn {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.Pricebtn:hover {
  background-color: #45a049;
}

/* pricing */
/* contact */
.contact {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 600;
  text-align: center;
  color: #e0dede;
  margin: 0;
  padding: 0;
}
.contact p {
  font-size: 22px;
  color: #e0dede;
  text-align: center;
}
.form-container {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 600px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e0dede, #04435c) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #04435c;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #04435c;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #eaeaea;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: green;
  border-color: #fff;
}
.contactSM h3 {
  font-size: clamp(2rem, 6vw, 4rem);
  color: #e0dede;
  text-align: center;
}
.contactSM ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 20px;
}
.contactSM ul li {
  list-style: none;
}
.contactSM ul li a {
  text-decoration: none;
  color: #e0dede;
  font-size: 30px;
}
.fa-facebook:hover {
  color: blue;
}
.fa-twitter:hover {
  color: #00acee;
}
.fa-instagram:hover {
  color: #fb3958;
}
.fa-whatsapp:hover {
  color: #25d366;
}

/* contact */
/* footer */
.footerBottom {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 10px;
  color: #e0dede;
}
footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
footer li {
  list-style: none;
  padding: 10px;
}
footer li:hover {
  color: #04435c;
}
footer a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.container h3 {
  color: #04435c;
  font-size: 22px;
}
.footerlogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-size: 18px;
}
.Footercontact a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
}
.Flogo a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: "Noto Serif Makasar", serif;
  font-size: clamp(20px, 4vw, 40px);
}

.tagline p {
  font-size: clamp(16px, 3vw, 24px);
  color: #04435c;
}

.phone {
  font-size: clamp(14px, 2.5vw, 20px);
}

/* body css */
@media (max-width: 980px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about h1 {
    text-align: center;
  }
  .about p {
    text-align: justify;
    padding: 0;
    margin: 0;
  }
  .services {
    margin-bottom: 50px;
  }
  .servicesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    /* margin-top: 50px; */
  }
  .process h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .processes {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .process-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .process-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .process-step {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .CenterDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .process-details {
    width: 90%;
  }
  .process-icon:focus .icon-image {
    content: url("imgs/clickMe.png");
  }
  .pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing-card {
    width: 100%;
  }

  .form-container {
    width: 95%;
  }
  .footerlogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Footercontact ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .Footercontact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menuList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
